<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		 
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div>
			<footer>
	    		<ul class="social-media-list">
				<li>
					<a href="https://twitter.com/om3r_va" target="_blank" rel="noopener noreferrer"><img src="/assets/icons/twitter.svg" width="40px" height="40px"></a>
				</li>
				<li>
					<a href="https://github.com/om3r-v" target="_blank" rel="noopener noreferrer"><img src="/assets/icons/github.svg" width="40px" height="40px"></a>
				</li>
				<li>
					<a href="https://t.me/om3r_va" target="_blank" rel="noopener noreferrer"><img src="https://raw.githubusercontent.com/om3r-v/om3r-v.github.io/f874296f7f8c9a2c9bc7f3758dbcf5217339d9a2/assets/icons/telegram.svg" width="40px" height="40px"></a>
				</li>
				<p>
            				<a href="mailto:om3r.va@gmail.com">om3r_va@gmail.com</a>
        			</p>
				</ul>
			</footer>
		</body>
	</html>
